@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.all-font {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.br {
  border-radius: 30px;
}
